@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.exp-card:hover {
  transform: scale(1.035, 1.035);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.exp-card:hover img {
  transform: translateY(-10px);
}

.App {
  text-align: center;
  margin: auto;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #ebf5fc;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-top: 16px;
}

.search {
  display: flex;
}

.searchTextBox {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 46px;
  border-radius: 24px 0 0 24px;
  outline: none;
  color: #9dbfaf;
  font-size: 22px;
}

.searchTextBox.with-suggestions {
  border-radius: 24px 0 0 0px;
}

.addButton.with-suggestions {
  border-radius: 0 24px 0 0;
}

.searchTextBox:focus {
  color: #00b4cc;
}

.addButton {
  height: 46px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 24px 24px 0;
  cursor: pointer;
  font-size: 22px;
}

div.suggestions {
  border-top: none;
  border-left: 3px solid #00b4cc;
  border-bottom: 3px solid #00b4cc;
  border-right: 3px solid #00b4cc;
  /* box-sizing: border-box; */
}

ul.suggestions {
  list-style: none;
  transition: width 0.3s;
  padding: 0;
}

ul.suggestions li {
  background: white;
  padding: 5px;
  font-size: 1.2rem;
}
ul.suggestions li:hover {
  font-weight: bold;
  color: #00b4cc;
  cursor: pointer;
  transition: 0.3s all;
}

ul.suggestions li.active {
  background: whitesmoke;
  font-size: 1.5rem;
  color: #00b4cc;
}

.no-options {
  color: white;
}

.card-container .card {
  height: 360px;
  margin: 20px;
  padding: 20px 16px;
  background: #ebf5fc;
  border-radius: 40px;
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
    6px 6px 20px rgba(0, 0, 0, 0.1);
}

.card-container .card:hover {
  box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5),
    inset 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.card-container .card .imgBx {
  position: relative;
  text-align: center;
}
.card-container .card .imgBx img {
  max-width: 120px;
}
.card-container .card .contentBx {
  position: relative;
  margin-top: 20px;
  text-align: center;
}
.card-container .card .contentBx h2 {
  color: #32a3b1;
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: 2px;
}
.card-container .card .contentBx p {
  color: #32a3b1;
}

.card-container .card .contentBx .content-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.card-container .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 40px;
  color: #32a3b1;
  font-size: 16px;
  text-decoration: none;
  box-shadow: -4px -4px 15px rgba(255, 255, 255, 1),
    4px 4px 15px rgba(0, 0, 0, 0.1);
}
.card-container .card .contentBx a:hover {
  box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, 0.1);
}
.card-container .card a:hover span {
  display: block;
  transform: scale(0.98);
}
.card-container .card:hover .imgBx,
.card-container .card:hover .contentBx {
  transform: scale(0.98);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .searchBox {
    width: 50%;
  }

  .wrap {
    align-items: center;
  }

  div.suggestions {
    width: 50%;
  }

  .card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .card-container .card {
    flex-basis: 27.333333%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
