@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  margin: auto;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  /* width: 50%; */
}

.searchBox {
  width: 50%;
}

.search {
  display: flex;
}

.searchTextBox {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 24px 0 0 24px;
  outline: none;
  color: #9dbfaf;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.searchTextBox.with-suggestions {
  border-radius: 24px 0 0 0px;
}

.addButton.with-suggestions {
  border-radius: 0 24px 0 0;
}

.searchTextBox:focus {
  color: #00b4cc;
}

.addButton {
  height: 46px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 24px 24px 0;
  cursor: pointer;
  font-size: 22px;
}

div.suggestions {
  width: 50%;
  border-top: none;
  border-left: 3px solid #00b4cc;
  border-bottom: 3px solid #00b4cc;
  border-right: 3px solid #00b4cc;
  box-sizing: border-box;
}

ul.suggestions {
  list-style: none;
  transition: width 0.3s;
  padding: 0;
}

ul.suggestions li {
  background: white;
  padding: 5px;
  font-size: 1.2rem;
}
ul.suggestions li:hover {
  font-weight: bold;
  color: #00b4cc;
  cursor: pointer;
  transition: 0.3s all;
}

ul.suggestions li.active {
  background: whitesmoke;
  font-size: 1.5rem;
  color: #00b4cc;
}
.no-options {
  color: white;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
